<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <li><a href="/user/index" title="注册新用户" target="_self">注册新用户</a></li>
        <li><a href="/user/login" title="登录" target="_self">登录</a></li>
        <li><a href="/user/" title="用户信息" target="_self">用户信息</a></li>
    </ul>
  </body>
</html>