<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/user/register" method="post">
        <input type="text" name="username" /><br />
        <input type="password" name="password" /><br />
        <input type="password" name="pwdrepeat" /><br />
        <input type="submit" name="submit" value="注册" />
        <input type="reset" name="reset" value="重置" /><br />
    </form>
    <hr />
    <form action="/user/login">
        <input type="text" name="username" /><br />
        <input type="password" name="password" /><br />
        <input type="submit" name="submit" value="登录" />
        <input type="reset" name="reset" value="重置" /><br />
    </form>
  </body>
</html>