body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p{
    color:green;
    font-weight:bold;
}
label{
    width:100px; display:inline-block; text-align:right; margin-right:5px;
}
.register{
    margin:0 auto;
}
ul, li{list-style-type:none;}
ul li{float:left;margin-right:20px;}
.showMessage{color:green; font-weight:bold;}
dl, dt, dd{margin:0px; padding:0px}
dl dt, dl dd{margin-bottom:5px;}
dl{font-weight:bold;}